<!DOCTYPE html>
<html>
<head>
	<title>Olios Magazine</title>

	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../css/kids.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>
<body>
	<div class="wrapper">
		<main class="page">
			<div class="page__background">
				<div class="header__row">
					<div class="header__left">
						<div class="left__header-logo">
							<img src="../images/logo.png" alt="">
						</div>
						<div class="left__header-icons">
							<a href="../index.html"><img src="../images/header-left-icon-1.png" alt=""></a>
							<a href="#"><img src="../images/header-left-icon-2.png" alt=""></a>
							<a href="search.html"><img src="../images/header-left-icon-3.png" alt=""></a>
						</div>
					</div>
					<div class="living-room__main">
						<div class="living-room__main-row">
							<div class="living-room__content">
								<div class="living-room__header">
									<h1>PRODUCTS</h1>
									<div class="living-room__item"><span>KIDS</span><img src="../images/right-menu-icon-3.png" alt=""></div>
								</div>
								<div class="living-room__content-inner">
									<div class="content__inner-item-1">
										<div class="item-1__img"><img src="../images/livroom-red-seat.png" alt=""></div>
										<div class="item-1__text-h1">RED SEAT</div>
										<div class="item-1__text-h2">Very comfortable seat</div>
										<div class="item-1__price">$45 <a href="redSeat.html" id="view__det" class="view__det-1">View Details >></a></div>
									</div>
									<div class="content__inner-item-2">
										<div class="item-2__img"><img src="../images/livroom-table.png" alt=""></div>
										<div class="item-2__content">
											<div class="item-2__text-h1">WHITE TABLE</div>
											<div class="item-2__text-h2">Large table for a friendly company</div>
											<div class="item-2__price">$350<a href="whiteTable.html" id="view__det">View Details >></a></div>
										</div>
									</div>
								</div>
								<!-- Скрытый блок -->
								<div class="living-room__content-inner-2">
									<div class="content__inner-item-3">
										<div class="item-3__img"><img src="../images/livroom-blue-seat.png" alt=""></div>
										<div class="item-3__text-h1">BLUE SEAT</div>
										<div class="item-3__text-h2">Very comfortable seat</div>
										<div class="item-3__price">$35 <a href="blueSeat.html" id="view__det">View Details >></a></div>
									</div>
									<div class="content__inner-item-4">
										<div class="item-4__img"><img src="../images/livroom-modern-bed.png" alt=""></div>
										<div class="item-4__content">
											<div class="item-4__text-h1">MODERN BED</div>
											<div class="item-4__text-h2">Large table for a friendly company</div>
											<div class="item-4__price">$120<a href="bed.html" id="view__det">View Details >></a></div>
										</div>
									</div>
									<div class="content__inner-item-5">
										<div class="item-5__img"><img src="../images/livroom-dark-seat.png" alt=""></div>
										<div class="item-5__text-h1">DARK SEAT</div>
										<div class="item-5__text-h2">Very comfortable seat</div>
										<div class="item-5__price">$50 <a href="darkSeat.html" id="view__det">View Details >></a></div>
									</div>
								</div>
								<div class="living-room__button">
									<button>Show more products</button>
								</div>
							</div>
							<div class="header__right">
								<div class="header__right-row">
									<nav class="header__menu">
										<div class="header__hamb"><button></button></div>
										<div class="header__menu-items">
											<div class="menu__item"><a href="livingRoom.html">LIVING ROOM</a><img src="../images/right-menu-icon-1.png" alt=""></div>
											<div class="menu__item"><a href="office.html">OFFICE</a><img src="../images/right-menu-icon-2.png" alt=""></div>
											<div class="menu__item"><a href="#">FOR KIDS</a><img src="../images/right-menu-icon-3.png" alt=""></div>
											<div class="menu__item"><a href="kitchen.html">KITCHEN</a><img src="../images/right-menu-icon-4.png" alt=""></div>
											<div class="menu__item"><a href="accessories.html">ACCESORIES</a><img src="../images/right-menu-icon-5.png" alt=""></div>
										</div>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/script.js"></script>

</body>
</html>