<!DOCTYPE html>
<html>
<head>
	<title>Olios Magazine</title>

	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../css/search.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>
<body>
	<div class="wrapper">
		<main class="page">
			<div class="page__background">
				<div class="header__row">
					<div class="header__left">
						<div class="left__header-logo">
							<img src="../images/logo.png" alt="">
						</div>
						<div class="left__header-icons">
							<a href="../index.html"><img src="../images/header-left-icon-1.png" alt=""></a>
							<a href="#"><img src="../images/header-left-icon-2.png" alt=""></a>
							<a href="#"><img src="../images/header-left-icon-3.png" alt=""></a>
						</div>
					</div>
					<div class="header__main">
						<div class="header__main-row">
							<div class="search">
								<h1>SEARCH</h1>
								<input type="text" id="input">
								<ul>
									<li><a href="redSeat.html" class="search__link">RED SEAT</a></li>
									<li><a href="whiteTable.html" class="search__link">WHITE TABLE</a></li>
									<li><a href="blueSeat.html" class="search__link">BLUE SEAT</a></li>
									<li><a href="bed.html" class="search__link">MODERN BED</a></li>
									<li><a href="darkSeat.html" class="search__link">DARK SEAT</a></li>
								</ul>
							</div>
							<div class="header__right">
								<div class="header__right-row">
									<nav class="header__menu">
										<div class="header__hamb"><button></button></div>
										<div class="header__menu-items">
											<div class="menu__item"><a href="livingRoom.html">LIVING ROOM</a><img src="../images/right-menu-icon-1.png" alt=""></div>
											<div class="menu__item"><a href="office.html">OFFICE</a><img src="../images/right-menu-icon-2.png" alt=""></div>
											<div class="menu__item"><a href="kids.html">FOR KIDS</a><img src="../images/right-menu-icon-3.png" alt=""></div>
											<div class="menu__item"><a href="kitchen.html">KITCHEN</a><img src="../images/right-menu-icon-4.png" alt=""></div>
											<div class="menu__item"><a href="accessories.html">ACCESORIES</a><img src="../images/right-menu-icon-5.png" alt=""></div>
										</div>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/search.js"></script>

</body>
</html>